<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="ByromFrameworkSettings" type="Byrom.Framework.Configuration.configSection,Byrom.Framework.Library" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  
  <ByromFrameworkSettings defaultversion="400">
    <frameworkAddresses>
      <add type="FRWK" priority="0" version="400" url="https://bcn-dev02/dev-fwk421/coreservice.svc" internal="false" />
      <!--<add type="FRWK" priority="0" version="400" url="https://localhost/hashost/coreservice.svc" internal="false"></add>-->
      <!--<add type="FRWK" priority="0" version="400" url="https://134.0.79.129/UAT-fwk421/coreservice.svc" internal="false"></add>-->
    </frameworkAddresses>
    <frameworkConnectionStrings>
      <add bypassCID="0" eventID="0" findByName="Framework" cString="v7WMcaFODs0SXQ9FUnUmP/4F60m4b9+R003/ulGx/pMf5oYLEAcabhBeb0/vh+N8olCpHu7iL3kCRiC+CLd3yQNI2llykzWf55l4WW0jvQAZoqECydsfh2mlH+6nTJvS5h3p2DFxTDpqdoOFXVg/pRx7r3Ng0NlL6TOlEMajBLhi8ctnRuaIFBbyYWMfJWpnR" />
    </frameworkConnectionStrings>
  </ByromFrameworkSettings>
  
  <appSettings>

    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

    <add key="CDNUrl" value="" />
    <add key="CDNUrlSSL" value="" />

    <!--specifies the ssl port that will use the application. 
    This will override (in SSLFilter) the 443 default port. 
    If this key is not present then the app uses default ssl port-->
    <add key="SSLPort" value="44300" />
    <!--specifies the normal port that will use the application. 
    This will override (in SSLFilter) the 80 default port.
    If this key is not present then the app uses default port.-->
    <add key="NormalPort" value="49300" />

    <!--
        This key can have 3 values which will affect SSLFilter behaviour (mainly for debugging purposes): 
        1:force all requests to be SSL required 
        2:force all request to be non SSL required
        3: don't force all requests to be SSL, accept the coming request
        0 or any other number:respect the SSLFilter requirements on each controller, action or app.
    -->
    <add key="SSLBehaviorOverride" value="0" />

    <!-- App URL Address-->
    <add key="siteUrl" value="http://localhost:50100" />
    <add key="siteUrlSsl" value="https://localhost:44301" />

    <!-- base CDN address local-->
    <add key="CDNUrl" value="http://localhost:50100/CDN" />
    <add key="CDNUrlSSL" value="https://localhost:44301/CDN" />

  </appSettings>

    
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer><elmah>
  </elmah>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>
