
@{
    ViewBag.Title = "SPA Home Page";
}

<div ui-view class="slide"></div>

@*<div class="jumbotron">
    <h1>HAS 2.0 - SPA</h1>
    <p class="lead">SPA - HAS web version.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Here goes the SPA Dashboard</h2>
        <p>
            SPA Dashboard content
        </p>
    </div>
</div>*@